@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --var-cor-primaria: rgb(152, 129, 238);
  --var-cor-secundaria: rgb(82, 35, 250);
}

body {
  max-width: 100%;
  overflow: hidden;
  font-family: "IBM Plex Mono", monospace;
  background-color: #000;
  color: rgb(255, 255, 255);
}

#terminal {
  margin: 0 auto;
  height: 100vh;
  flex-direction: column;
  padding: 10px;
}

#logo {
  white-space: pre;
  font-family: monospace;
  font-size: 0.5rem;
  text-align: center;
  color: var(--var-cor-secundaria);
}

#output {
  flex: 1;
  overflow-y: auto;
  white-space: pre-wrap;
  font-size: 1.1rem;
}

#input {
  display: flex;
  align-items: center;
}

#input span {
  margin-right: 5px;
  font-size: 1.35em;
  color: var(--var-cor-primaria);
}

#command-input {
  width: 100%;
  background: none;
  border: none;
  color: inherit;
  outline: none;
  font-size: 1.3rem;
}

a {
  color: inherit;
  font-weight: bolder;
}

a:hover {
  color: var(--var-cor-secundaria);
  text-decoration: underline;
}
